---
import Layout from "~/components/layout.astro";
import { getLangFromUrl, useTranslations } from "~/utils/i18n";
import { ParentConsentForm } from "~/components/parent-form"; 

const lang = getLangFromUrl(Astro.url);
const t = useTranslations("apply", lang);
---
<Layout title={t("seo.title")} description={t("seo.description")}>
  <div class="bg-primary-900 lg:col-span-5 col-span-4 min-h-64 lg:h-[85vh] rounded-xl p-4 text-white font-bold text-3xl lg:text-6xl relative mb-6 overflow-hidden mt-3">
    {t("parentSection")} <svg>...</svg>
  </div>

  <ParentConsentForm client:load {lang} />
</Layout>